body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4070f4;
  box-sizing: border-box;
  font-weight: 400;
}

::placeholder {
  font-weight: 500;
  color: #9a9999;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 25px;
  margin: 5px;
  background-color: white;
  height: max-content;
  width: 500px;
  border: 1px solid gray;
  border-radius: 8px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 25px;
  margin: 5px;
  background-color: white;
  height: max-content;
  width: 500px;
  border: 1px solid gray;
  border-radius: 8px;
}

button {
  padding: 9px;
  margin: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  width: 85%;
  background-color: #0171d3;
  border: 0;
  color: white;
}

input {
  border: 2px solid #ececec;
  padding: 12px;
  margin: 5px;
  border-radius: 5px;
  outline: none;
  width: 80%;
}

p {
}

span {
  color: #4496ee;
}

span:hover {
  cursor: pointer;
}

h2 {
  font-weight: 600;
}

.or-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

hr {
  width: 190px;
  color: gray;
}

.or {
  margin-left: 8px;
  margin-right: 8px;
  color: gray;
}

img {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
}

.facebook {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px;
  margin: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  width: 80%;
  background-color: #4267b2;
  border: 0;
  color: white;
}

.facebook > h3 {
  position: relative;
  left: 20%;
  font-weight: 500;
  font-size: large;
}

.facebook:hover {
  cursor: pointer;
}

.google {
  display: flex;
  border: 1px solid #ececec;
  flex-direction: row;
  align-items: center;
  padding: 9px;
  margin: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  width: 80%;
  background-color: white;
}

.google:hover {
  cursor: pointer;
}

.google > h3 {
  color: #9a9999;
  position: relative;
  left: 20%;
  font-weight: 500;
  font-size: large;
}

#success-message {
  color: green;
}

#error-message {
  color: red;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
